


.App{
  
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.product-list{

  margin-top: 100px;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  place-items: center;
  text-align: center;
  row-gap: 50px;
  column-gap: 50px;

}

.product-list img{
  width: 250px;
  height: auto;
}